@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.personaje-container {
  display: block; // Cambiado de flex a block
  margin: 20px;
}

.personajes-list, .personaje-form{
  width: 100%; /* Reducimos el ancho para dar espacio al formulario */
  font-family: 'Roboto', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #f4f4f4;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"] {
  width: 100%; // Cambiar a 100% para que llene el contenedor
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  padding: 10px 20px;
  background-color: #07a030;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 1rem 4rem;
}

button:hover {
  background-color: #00c943;
}
