<div class="personaje-container">
  <div class="personaje-form">
    <h1 class="Agregar">{{ codigos ? 'Editar personaje' : 'Agregar Personaje' }}</h1>
    <form [formGroup]="personajeForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input id="nombre" formControlName="nombre" type="text">
      </div>

      <div class="form-group">
        <label for="edad">Edad</label>
        <input id="edad" formControlName="edad" type="text">
      </div>

      <div class="form-group">
        <label for="altura">Altura</label>
        <input id="altura" formControlName="altura" type="text">
      </div>

      <div class="form-group">
        <label for="peso">Peso</label>
        <input id="peso" formControlName="peso" type="text">
      </div>

      <div class="form-group">
        <label for="genero">Genero</label>
        <input id="genero" formControlName="genero" type="text">
      </div>

      <div class="form-group">
        <label for="rol">Rol</label>
        <input id="rol" formControlName="rol" type="text">
      </div>

      <div class="form-group">
        <label for="correo">Correo</label>
        <input id="correo" formControlName="correo" type="text">
      </div>

      <div class="buttons">
        <button type="button" (click)="add()">Agregar</button>
        <button type="button" (click)="personaje.codigo ? deletePersonaje(personaje.codigo) : null">Eliminar</button>
        <button type="button" (click)="update()">Modificar</button>
      </div>
    </form>
  </div>
</div>

<div class="personajes-list">
  <h1>Lista de Personajes</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Genero</th>
        <th>Rol</th>
        <th>Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personaje of personajes" (click)="selected(personaje.codigo)">
        <td>{{ personaje.nombre }}</td>
        <td>{{ personaje.edad }}</td>
        <td>{{ personaje.altura }}</td>
        <td>{{ personaje.peso }}</td>
        <td>{{ personaje.genero }}</td>
        <td>{{ personaje.rol }}</td>
        <td>{{ personaje.correo}}</td>
      </tr>
    </tbody>
  </table>